@page "/hello"
@using Microsoft.AspNetCore.Authorization
@using Teste.Ui.Services
@attribute [Authorize]

@inject IAuthService AuthService
@inject NavigationManager Nav

<h3>Hello, World! 👋</h3>

<button class="btn btn-primary" @onclick="Logout">Sair</button>

@code {
    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        Nav.NavigateTo("/login", true);
    }
}

