@page "/login"
@using Teste.Ui.Services
@using Teste.Ui.Models
@inject IAuthService AuthService
@inject NavigationManager Nav

<div class="auth-container">
    <div class="auth-card">
        <h2 class="auth-title">Entrar</h2>

        <input class="auth-input"
               @bind="request.Email"
               placeholder="Email"
               type="email" />

        <input class="auth-input"
               @bind="request.Password"
               placeholder="Senha"
               type="password" />

        <button class="auth-button" @onclick="LoginUser">
            Entrar
        </button>

        <p class="auth-footer">
            Não tem conta?
            <a href="javascript:void(0);" @onclick="NavigateToRegister">
                Criar agora
            </a>
        </p>
    </div>
</div>

@code {
    private LoginRequest request = new();

    private async Task LoginUser()
    {
        var result = await AuthService.LoginAsync(request);
        if (result != null)
            Nav.NavigateTo("/notes");
    }

    private void NavigateToRegister()
    {
        Nav.NavigateTo("/register");
    }
}
